all:
  a:
    # Google Sitemap Plugin
    sbGoogleSitemap:
      default_changefreq: daily
      default_priority: 0.6
      default_lastmod: '<?php echo strtotime('-1 week'); ?>'

      #You can define a model method that will return an array of sbGoogleSitemapPage objects
      #plugin_models:
      #  sbJobBoardJob: pagesForSitemap

      # Should we include blog pages automatically in the sitemap
      blog_pages: true
      blog_page_priority: 0.7
      blog_page_changefreq: daily
